<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
    <style>
        /* Estilos Base "Paper Form" */
        .paper-form {
            background-color: #fff;
            border: 2px solid #000;
            color: #000;
            font-family: 'Courier New', Courier, monospace;
            font-size: 13px;
            max-width: 600px; /* Formato tipo media carta vertical */
            margin: 0 auto;
        }
        
        .cell-border {
            border: 1px solid #000;
            padding: 2px 5px;
            display: flex;
            align-items: center;
        }

        .input-line {
            border: none;
            background: transparent;
            width: 100%;
            font-weight: bold;
            color: #000080;
            height: 20px;
            font-size: 13px;
            padding: 0 5px;
        }
        .input-line:focus { outline: none; }

        .label-text {
            font-weight: bold;
            font-size: 0.8rem;
            text-transform: uppercase;
            white-space: nowrap;
        }

        /* Ajuste de Checkboxes */
        .form-check {
            margin-bottom: 0;
            margin-right: 10px;
            display: flex;
            align-items: center;
        }
        .form-check-input {
            border: 1px solid #000;
            width: 14px;
            height: 14px;
            margin-top: 0;
            margin-right: 5px;
            border-radius: 0;
        }
        
        .row-compact { --bs-gutter-x: 0; }
    </style>
</head>
<body>

    <div class="wrapper">
        <%- include('../partials/sidebar') %>

        <div id="content" class="w-100 bg-light p-2" style="overflow-y: auto;">
            
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="text-dark m-0">⌨️ Recibo de Periféricos</h5>
                    <button class="btn btn-sm btn-primary" onclick="guardarPerifericos()">💾 Guardar</button>
                </div>

                <div class="paper-form container p-0" id="formPerifericos">
                    
                    <div class="row row-compact">
                        <div class="col-12 text-center cell-border justify-content-center bg-light p-2">
                            <h6 class="m-0 fw-bold" style="letter-spacing: 1px;">RECIBO DE PERIFÉRICOS Y COMPONENTES</h6>
                        </div>
                    </div>

                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">FECHA:</span>
                            <input type="date" class="input-line" id="fecha" style="max-width: 150px;">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">FICHA:</span>
                            <input type="number" class="input-line" id="ficha">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">USUARIO:</span>
                            <input type="text" class="input-line" id="usuario">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">EXT/TLF:</span>
                            <input type="text" class="input-line" id="ext">
                        </div>
                    </div>

                    <div class="row row-compact">
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkMonitor" value="Monitor">
                                <label class="label-text" for="chkMonitor" style="font-size: 11px;">MONITOR</label>
                            </div>
                        </div>
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkTeclado" value="Teclado">
                                <label class="label-text" for="chkTeclado" style="font-size: 11px;">TECLADO</label>
                            </div>
                        </div>
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkScaner" value="Scaner">
                                <label class="label-text" for="chkScaner" style="font-size: 11px;">SCANER</label>
                            </div>
                        </div>
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkPendrives" value="Pendrive">
                                <label class="label-text" for="chkPendrives" style="font-size: 11px;">PENDRIVES</label>
                            </div>
                        </div>
                    </div>

                    <div class="row row-compact">
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkRegulador" value="Regulador">
                                <label class="label-text" for="chkRegulador" style="font-size: 11px;">REGULADOR</label>
                            </div>
                        </div>
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkImpresora" value="Impresora">
                                <label class="label-text" for="chkImpresora" style="font-size: 11px;">IMPRESORA</label>
                            </div>
                        </div>
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkMouse" value="Mouse">
                                <label class="label-text" for="chkMouse" style="font-size: 11px;">MOUSE</label>
                            </div>
                        </div>
                        <div class="col-3 cell-border">
                            <div class="form-check">
                                <input class="form-check-input peri-check" type="checkbox" id="chkToner" value="Toner">
                                <label class="label-text" for="chkToner" style="font-size: 11px;">TÓNER</label>
                            </div>
                        </div>
                    </div>

           <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <div class="form-check p-0 m-0 w-100">
                                <span class="label-text me-2">COMPONENTES:</span>
                                
                                <select class="input-line" id="selectComponentes" style="cursor: pointer;">
                                    <option value="" selected></option>
                                    <option value="3">MEMORIA RAM</option>
                                    <option value="4">DISCO DURO</option>
                                    <option value="5">TARJETA MADRE</option>
                                    <option value="6">PROCESADOR</option>
                                    <option value="7">TARJETA DE VIDEO</option>
                                    <option value="8">FUENTE DE PODER</option>
                                    <option value="9">TARJETA DE RED</option>
                                    <option value="10">FAN COOLER</option>
                                    <option value="11">PILA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <div class="form-check p-0 m-0 w-100">
                                <span class="label-text me-2">OTROS:</span>
                                <input type="text" class="input-line" id="otrosTxt">
                            </div>
                        </div>
                    </div>

                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">FMO/ SERIAL:</span>
                            <input type="text" class="input-line" id="fmoSerial">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">FMO ASIGNADO:</span>
                            <input type="text" class="input-line" id="fmoAsignado">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">DPTO/GCIA:</span>
                            <input type="text" class="input-line" id="gerencia">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">FALLA:</span>
                            <input type="text" class="input-line" id="falla">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">ASIGNADO A:</span>
                            <input type="text" class="input-line" id="asignadoA">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">N.º SOLICITUD S.T.:</span>
                            <input type="text" class="input-line" id="solicitudST">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border">
                            <span class="label-text me-2">N.º SOLICITUD DAET:</span>
                            <input type="text" class="input-line" id="solicitudDaet"> 
                        </div>
                    </div>

                    <div class="row row-compact">
                        <div class="col-12 cell-border" style="height: 45px;">
                            <span class="label-text">ENTREGADO POR:</span>
                            <input type="text" class="input-line mt-2" id="entregadoPor">
                        </div>
                    </div>
                    <div class="row row-compact">
                        <div class="col-12 cell-border" style="height: 45px;">
                            <span class="label-text">RECIBIDO POR:</span>
                            <input type="text" class="input-line mt-2" id="recibidoPor">
                        </div>
                    </div>

                </div>
                <br>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>

   <script>
    // Establecer fecha actual al cargar
    document.addEventListener('DOMContentLoaded', () => {
        const fechaInput = document.getElementById('fecha');
        if(fechaInput) fechaInput.valueAsDate = new Date();
    });

    async function guardarPerifericos() {
        console.log("Botón presionado: Iniciando recolección de datos...");

        try {
            // 1. MAPA DE PERIFÉRICOS (Checkboxes)
            const mapPerifericosIds = {
                'Monitor': 1, 'Teclado': 2, 'Mouse': 3, 'Regulador': 4,
                'Impresora': 5, 'Scaner': 6, 'Pendrive': 7, 'Toner': 8
            };

            // 2. RECOLECTAR PERIFÉRICOS
            const listaPerifericos = [];
            document.querySelectorAll('.peri-check:checked').forEach(chk => {
                const idBd = mapPerifericosIds[chk.value];
                if (idBd) listaPerifericos.push({ id: idBd });
            });

            // 3. RECOLECTAR COMPONENTE INTERNO (Nueva Lógica Dropdown)
            // Obtenemos el valor del select (ej: "3", "4"...)
            const idComponenteSeleccionado = document.getElementById('selectComponentes').value;
            const serialGeneral = document.getElementById('fmoSerial').value;
            
            let listaComponentes = null;

            // Si el usuario seleccionó algo (value no está vacío)
            if (idComponenteSeleccionado) {
                listaComponentes = [{
                    idComponente: parseInt(idComponenteSeleccionado),
                    // Opcional: Si el backend pide serial para el componente, usamos el general
                    fmoSerial: serialGeneral || "S/N" 
                }];
            }

            // Helper para obtener valores seguros
            const getVal = (id) => document.getElementById(id)?.value || "";

            // 4. CONSTRUIR EL PAYLOAD
            const payload = {
                usuario: getVal('usuario'),
                ficha: parseInt(getVal('ficha')) || 0,
                nombre: getVal('usuario'), 
                gerencia: getVal('gerencia'),

                fmoEquipo: getVal('fmoAsignado') || "S/N",
                solicitudST: getVal('solicitudST'), 
                solicitudDAET: getVal('solicitudDaet'),

                entregadoPor: getVal('entregadoPor'),
                recibidoPor: getVal('recibidoPor'),
                asignadoA: getVal('asignadoA'),

                estatus: "Entregado", 
                fecha: getVal('fecha'),
                
                falla: getVal('falla'),
                otro: getVal('otrosTxt'),
                fmoSerial: serialGeneral, // Serial general del recibo

                // ARRAYS
                // Aquí enviamos la lista creada desde el Dropdown
                componentePerifericos: listaComponentes, 
                perifericos: listaPerifericos.length > 0 ? listaPerifericos : null
            };

            console.log("Payload generado:", payload);

            // VALIDACIÓN: Debe haber al menos (Periférico O Componente O Texto 'Otros')
            const tienePeriferico = payload.perifericos && payload.perifericos.length > 0;
            const tieneComponente = payload.componentePerifericos && payload.componentePerifericos.length > 0;
            const tieneOtro = !!payload.otro;

            if (!tienePeriferico && !tieneComponente && !tieneOtro) {
                alert("⚠️ Atención: Debes seleccionar un Periférico, un Componente o escribir en 'Otros'.");
                return; 
            }

            // 5. ENVÍO AL BACKEND
            const response = await fetch('http://127.0.0.1:8081/api/crearReciboPerifericos', { 
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(payload)
            });

            if(response.ok) {
                const data = await response.json();
                alert("✅ ¡Recibo Guardado Exitosamente!");
                // window.location.reload();
            } else {
                const errorText = await response.text();
                console.error("Error servidor:", errorText);
                alert("❌ Error del servidor: " + errorText);
            }

        } catch (e) {
            console.error("Error crítico en JS:", e);
            alert("❌ Ocurrió un error en la aplicación: " + e.message);
        }
    }
</script>
</body>
</html>