<div class="row row-compact mt-2">
    <div class="col-12 text-center cell-border justify-content-center bg-light" style="padding: 4px;">
        <h6 class="m-0 fw-bold">SERIALES COMPONENTES:</h6>
    </div>
</div>

<div class="row row-compact">
    <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">DESCRIPCIÓN</span></div>
    <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">MARCA</span></div>
    <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">SERIAL</span></div>
</div>

<div class="row row-compact">
    <div class="col-4 cell-border"><span class="label-text">TARJETA MADRE</span></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="marcaMadre"></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="serialMadre"></div>
</div>
<div class="row row-compact">
    <div class="col-4 cell-border"><span class="label-text">FUENTE DE PODER</span></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="marcaFuente"></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="serialFuente"></div>
</div>
<div class="row row-compact">
    <div class="col-4 cell-border"><span class="label-text">TARJETA DE VIDEO</span></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="marcaVideo"></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="serialVideo"></div>
</div>
<div class="row row-compact">
    <div class="col-4 cell-border"><span class="label-text">TARJETA DE RED</span></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="marcaRed"></div>
    <div class="col-4 cell-border"><input type="text" class="input-line text-center" id="serialRed"></div>
</div>

<div class="row row-compact mt-1 border-top border-dark">
    <div class="col-3 cell-border d-flex align-items-center justify-content-center bg-light">
        <span class="label-text">MEMORIA RAM</span>
    </div>
    
    <div class="col-9 p-0">
        <div class="row row-compact">
            <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">MARCA</span></div>
            <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">SERIAL</span></div>
            <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">CAPACIDAD</span></div>
        </div>
        <div class="row row-compact">
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-marca"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-serial"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-capacidad"></div>
        </div>
        <div class="row row-compact">
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-marca"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-serial"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-capacidad"></div>
        </div>
        <div class="row row-compact">
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-marca"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-serial"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center ram-capacidad"></div>
        </div>
    </div>
</div>

<div class="row row-compact mt-1 border-top border-dark">
    <div class="col-3 cell-border d-flex align-items-center justify-content-center bg-light">
        <span class="label-text">DISCO DURO</span>
    </div>
    
    <div class="col-9 p-0">
        <div class="row row-compact">
            <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">MARCA</span></div>
            <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">SERIAL</span></div>
            <div class="col-4 cell-border bg-light justify-content-center"><span class="label-text">CAPACIDAD</span></div>
        </div>
        <div class="row row-compact">
            <div class="col-4 cell-border"><input type="text" class="input-line text-center hdd-marca"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center hdd-serial"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center hdd-capacidad"></div>
        </div>
        <div class="row row-compact">
            <div class="col-4 cell-border"><input type="text" class="input-line text-center hdd-marca"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center hdd-serial"></div>
            <div class="col-4 cell-border"><input type="text" class="input-line text-center hdd-capacidad"></div>
        </div>
    </div>
</div>

<div class="row row-compact mt-1">
    <div class="col-12 cell-border cell-block" style="min-height: 40px;">
        <span class="label-text">OBSERVACIÓN (SERIALES):</span>
        <textarea class="input-line" rows="1" id="observacionSeriales" style="resize: none;"></textarea>
    </div>
</div>