# Dependencias
node_modules/

# Builds y distribuciones (lo que genera electron-builder)
dist/
build/
out/

# Variables de entorno (seguridad)
.env

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema (Mac/Windows/Linux)
.DS_Store
Thumbs.db
package-lock.json
